

services:
  mcp-server:
    build:
      context: .                
      dockerfile: Dockerfile.server  
    image: qwer319/ai-news-server:v2 
    container_name: mcp-server
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: unless-stopped

  client:
    build:
      context: .               
      dockerfile: Dockerfile.client
    image: qwer319/ai-news-client:v2
    container_name: gemini-client
    depends_on:
      - mcp-server
    env_file:
      - .env
    environment:
      - MCP_SERVER_URL=http://mcp-server:8000/mcp
    stdin_open: true 
    tty: true